<!DOCTYPE html>
<html lang="ja">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>本の編集画面</title>
</head>

<body>
 <form action="../controller/bookStore.php" method="post" enctype="multipart/form-data">
  <div>
   タイトル
   <input type="text" name="title">
  </div>
  <br>
  <div>
   内容
   <textarea name="description" id="" cols="30" rows="10"></textarea>
   <button type="submit">登録する</button>
  </div>
  <div>
   <input type="file" name="picture">
  </div>
 </form>
</body>

</html>